language: cpp
matrix:
  include:
    - os: linux
      dist: bionic
      compiler: gcc
      before_script:
        - mkdir build
        - cd build
        - cmake .. -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=ON -DBUILD_FOO_EXTENSION=ON
      script:
        - make
        - make test
    - os: windows
      before_script:
        - mkdir build
        - cd build
        - cmake .. -G "Visual Studio 15 2017 Win64" -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=ON -DBUILD_FOO_EXTENSION=ON
      script:
        - cmake --build . --target ALL_BUILD --config Release
        - ctest -C "Release"
